*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: rgb(218,221,232);
  background: linear-gradient(207deg, rgba(218,221,232,0.9472163865546218) 6%, rgba(25,127,214,1) 75%);
  text-align: center;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  #root{
    margin: 0 24px;
    position: relative;
    min-height: 100vh;
  }